nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;
}/*
//first name
//lst name
//email */
.logo{
    width: 80px;
    height: 80px;
}


.header__content{
    text-align: center;
    margin-top: 100px;
    display: block;
}

.title {
    font-size: 80px;
    margin-bottom: 6%;
    text-align: center;
    line-height: 1;
    transform: rotate(-15deg);
}

.btn{
    margin: 12px;
    padding: 12px;
}
.background-color{
  background: linear-gradient(75deg, #D8F3DC, #1B4332);
  overflow-x: hidden;
  height: 100vh;
}
