<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

    <h1>Funding Force</h1>
    
    <button type="button" class="btn btn-primary">
    <a routerLink="create-budget" routerLinkActive="active" class="nav-link" >Create Budget</a>
    </button>

    <button type="button" class="btn btn-primary">
        <a routerLink="view-budget" routerLinkActive="active" class="nav-link" >View Budget</a>
        </button>
        <button type="button" class="btn btn-primary">
            <a routerLink="user-login" routerLinkActive="active" class="nav-link" >Login</a>
        </button>
</body>
</html>

<div class="container">
    <router-outlet></router-outlet>
  </div>
