.button-row {
    display: table-cell;
    width: 490px;
    text-align: center;
  }

.Savings {
    margin: auto;
    max-width: 500px;
    overflow: auto;
    min-height: 30px;
    text-align: center;
    background-color: #74C69D;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
  }

  .Savings label {
    display: block;
    display: flex;
    text-align: right;
    margin: 30px;
    color: #B7E4C7;
  }

  .Savings input {
    display: block;
    display: flex;

    width: 60%;
    height: 40px;
    margin: 30px;
    padding: 3px 7px;
    font-size: 17px;
    text-align: center;
  }

  .top-Bar{
    display: flex;
    width: 100%;
    height:60px;
    justify-content: center;
    text-align: center;
  }

  h2{
    letter-spacing: 2px;
    color: seashell;
    text-transform: uppercase;
    text-align: center;
    border: none
  }

  .btn {
    position: absolute;
    top: 90%;
    left: 38%;

    display: inline-block;
    background: #000;
    color: rgb(39, 241, 69);
    border: none;
    padding: 10px;
    margin: -30px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
    font-family: inherit;
    text-align: center;
  }

  h3{
    position: absolute;
    top: 87%;
    left: 50%;
    margin: auto;
    text-align: center;
    font-size: 30px;
  }


  .background-color{
    background: linear-gradient(75deg, #D8F3DC, #1B4332);
    overflow-x: hidden;
    height: 100vh;
  }
