
<div class="top-bar">
    <h2>Savings Calculator</h2>
</div>
<form >
    <div class='Savings'>
        <label type="text">Starting Balance: $</label>
        <input [(ngModel)]= "balance" type="number"  name="balance" placeholder="Enter Balance">
    
        <label type="text">Monthly Contribution: $</label>
        <input [(ngModel)]= "monthlyContribution" type="number"  name="monthlyContribution" placeholder="monthlyContribution">
    
        <label type="text">Length of Investment: </label>
        <input [(ngModel)]= "years" type="number"  name="years" placeholder="years">
    
        <label type="text">Annual Percentage Yield: %</label>
        <input [(ngModel)]= "apy" type="number"  name="apy" placeholder="apy">
    </div>
    <div class = "top-Bar">
    <button (click) ="cal()" mat-button-color="primary" class='btn'>Calculate:</button>
    <br>
    <h3>${{sum}}</h3>
    </div>
    <br><br>
    
</form>

