.button-row {
  display: table-cell;
  width: 490px;
}

.form-control {
  margin: 20px;
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
}

.form-control label {
  display: block;
  display: flex;

}

.form-control input {
  display: block;
  display: flex;

  width: 60%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.top-Bar{
  display: flex;
  width: 100%;
  height:60px;
  background: linear-gradient(75deg, #274B9F, #EBF5FD);
  /* Horizontally and vertically center */
  justify-content: center;
  align-items: center;
}

h2{
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family:'Times New Roman', Times, serif;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.chartContainer {
  width: 500px;
  height: 500px;
  margin: 20px;
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  justify-content: center;
  align-items: center;
}
