


  
    <div class="row">
      <a href="/create-budget" class="btn btn-create btn-primary btn-payment">New</a>
    </div>




  <div class="column">
      <div class="card border-secondary mb-3 w-75 text-center">
        <div class="card-body">
          <h5 class="card-title"><u>Car</u></h5>
          <table class="table-center">
            <tr>
              <th class="table-cell">Next Pay</th>
              <th class="table-cell">Next Balance</th>
              <th class="table-cell">%</th>
              <th class="table-cell">Total</th>
            </tr>
            <tr>
              <td>$500</td>
              <td>$500</td>
              <td>8%</td>
              <td>$5000</td>
            </tr>
          </table>
          <a routerLink = "/view-budget" class="btn btn-primary btn-payment">View</a>
          <a routerLink="/create-budget" class="btn btn-secondary btn-payment">Edit</a>
          <a href="#" class="btn btn-danger btn-payment">Delete</a>
        </div>
    </div>

    <div class="card border-secondary mb-3 w-75 text-center">
        <div class="card-body">
          <h5 class="card-title"><u>Car</u></h5>
          <table class="table-center">
            <tr>
                <th class="table-cell">Next Pay</th>
                <th class="table-cell">Next Balance</th>
                <th class="table-cell">%</th>
                <th class="table-cell">Total</th>
              </tr>
              <tr>
                <td>$500</td>
                <td>$500</td>
                <td>8%</td>
                <td>$5000</td>
              </tr>
          </table>
          <a href="#" class="btn btn-primary btn-payment">View</a>
          <a href="#" class="btn btn-secondary btn-payment">Edit</a>
          <a href="#" class="btn btn-danger btn-payment">Delete</a>
        </div>
    </div>
  </div>

